@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.animate-spin-cust {
  animation: spin 40s linear infinite;
}

.animate-spin-cust-2 {
  animation: spin-2 40s linear infinite;
}

.animate-spin-cust-3 {
  animation: spin-3 50s linear infinite;
}

.animate-spin-cust-4 {
  animation: spin-4 60s linear infinite;
}

.animate-spin-wrapper {
  animation: spin 60s ease-in infinite;
}

@keyframes spin-2 {
  from {
    transform: rotate(250deg);
  }

  to {
    transform: rotate(610deg);
  }
}

@keyframes spin-4 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes spin-3 {
  from {
    transform: rotate(321deg);
  }

  to {
    transform: rotate(681deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}